.section-employees {
  color: $primery-text-color;
  background-color: $employees-bcg-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.employees {
  display: flex;
  list-style: none;
}

.employees-card__item {
  flex-basis: calc(100% / 4);
  margin-right: $card-set-gap;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:last-child {
    margin-right: 0;
  }
}

.employees__box {
  background-color: $primery-bcg-color;
  padding-top: $card-set-gap;
  padding-bottom: $card-set-gap;
  list-style: none;
  border-radius: 0px 0px 4px 4px;
}

.employees__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.employees-card__title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.employees-card__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  list-style: none;
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.social__link {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  height: 100%;
  fill: $primery-icon-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $primery-bcg-color;
    background-color: $accent-color;
  }
}

.social__icon {
  height: 20px;
  width: 20px;
}
