.header__link--logo {
  color: $title-text-color;
  font-family: $releway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.color__text--logo {
  color: $accent-color;
}
