.header__link--logo {
  color: $title-text-color;
  font-family: $releway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;

  // display: block;
  // padding-top: 24px;
  // padding-bottom: 25px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.color__text--logo {
  color: $accent-color;
}
.header-mob {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header__mob-svg {
  width: 40px;
  height: 40px;
}
.page-header__mob-btn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: $primery-bcg-color;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.page-header__close-icon {
  display: none;
}
.page-header__mob-btn.is-open .page-header__close-icon {
  display: block;
}

.page-header__mob-btn.is-open .page-header__menu-icon {
  display: none;
}
