.page-footer {
  color: $primery-bcg-color;
  background-color: $hero-footer-bcg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__link--logo {
  color: $primery-bcg-color;
  font-family: $releway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  display: block;
  margin-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contact {
  list-style: none;
}

.footer-contact__link {
  color: $footer-contact-color;
  text-decoration: none;
  font-style: normal;
  font-family: $roboto;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__text {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  margin-bottom: 9px;
}

.footer-social__title {
  color: $primery-bcg-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.flex-footer {
  display: flex;
  align-items: baseline;
}

.contact-box {
  margin-right: 70px;
}

.footer-social {
  display: flex;
}
.footer-subscription {
  margin-left: auto;
}

.footer-social__item {
  list-style: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background: rgba(255, 255, 255, 0.1);

  &:last-child {
    margin-right: 0px;
  }
}

.footer__icon {
  height: 20px;
  width: 20px;
}

.footer-social__link {
  display: inline-flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $primery-bcg-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.subscription__title {
  color: $primery-bcg-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}

.subscription__button {
  background-color: $accent-color;
  color: $primery-bcg-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hero-button-hover-color;
  }
}

.icon-send {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscription {
  display: flex;
}

.subscription__label > input {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  padding-left: 16px;
  margin-right: 12px;
  border-radius: 4px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
